<div class="sections-container">
    <!-- First Section -->
    <div class="section">
      <h3>Offer Volume List Price: {{ offerVolumeListPrice | currency }}</h3>
      <div class="discount">
        <span class="top-discount">Top Discount: {{ topDiscount }}%</span>
        <span class="target-discount">Target Discount: {{ targetDiscount }}%</span>
        <span class="floor-discount">Floor Discount: {{ floorDiscount }}%</span>
      </div>
    </div>

    <!-- Second Section -->
    <div class="section">
      <h3>Incentive for this deal</h3>
      <p>{{ incentiveForDeal }}</p>

      <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="incentiveChartData"
      [gradient]="false"
      [xAxis]="false"
      [yAxis]="true"
      [legend]="false"
      [showYAxisLabel]="true"
      [xAxisLabel]="'Incentive in %'"
      >
    </ngx-charts-bar-vertical>
    </div>

    <!-- Third Section -->
    <div class="section">
      <h3>Realistic Discount Scenario</h3>
      <p>{{ realisticDiscountScenario }}</p>
    </div>
  </div>

    
  